<% error = @product_detail.errors.include?(:product_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :product_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :product_id, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'><%= error ? f.error_message_on(:product_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @product_detail.errors.include?(:specification) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :specification, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :specification, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:specification) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @product_detail.errors.include?(:price) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :price, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :price, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:price) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @product_detail.errors.include?(:storage) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :storage, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :storage, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:storage) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @product_detail.errors.include?(:no_store) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :no_store, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :no_store, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:no_store) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @product_detail.errors.include?(:is_rec) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :is_rec, :class => 'control-label' %>
  <div class='controls'>
    <%= f.check_box :is_rec, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:is_rec) : "Ex: a simple text" %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:product_details, :index), :class => 'btn btn-default' %>
</div>