<% error = @courier_order.errors.include?(:courier_employee_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :courier_employee_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :courier_employee_id, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'><%= error ? f.error_message_on(:courier_employee_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @courier_order.errors.include?(:number) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :number, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :number, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:number) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @courier_order.errors.include?(:iscomplete) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :iscomplete, :class => 'control-label' %>
  <div class='controls'>
    <%= f.check_box :iscomplete, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:iscomplete) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @courier_order.errors.include?(:isnow) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :isnow, :class => 'control-label' %>
  <div class='controls'>
    <%= f.check_box :isnow, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:isnow) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @courier_order.errors.include?(:usetime) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :usetime, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :usetime, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:usetime) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @courier_order.errors.include?(:level) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :level, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :level, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:level) : "Ex: a simple text" %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:courier_orders, :index), :class => 'btn btn-default' %>
</div>