<% error = @supplier_account.errors.include?(:supplier_address_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :supplier_address_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.select( :supplier_address_id,:collection=>SupplierAddress.all,:fields=>[:detail_id,:id], :class => 'form-control input-xlarge input-with-feedback', :autofocus => true) %>
    <span class='help-inline'><%= error ? f.error_message_on(:supplier_address_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @supplier_account.errors.include?(:user_name) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :user_name, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :user_name, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:user_name) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @supplier_account.errors.include?(:password) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :password, :class => 'control-label' %>
  <div class='controls'>
    <%= f.password_field :password, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:password) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @supplier_account.errors.include?(:password_confirmation) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :password_confirmation, :class => 'control-label' %>
  <div class='controls'>
    <%= f.password_field :password_confirmation, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:password_confirmation) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @supplier_account.errors.include?(:real_name) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :real_name, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :real_name, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:real_name) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @supplier_account.errors.include?(:email) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :email, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :email, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:email) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @supplier_account.errors.include?(:mobile) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :mobile, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :mobile, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:mobile) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @supplier_account.errors.include?(:level) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :level, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :level, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:level) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @supplier_account.errors.include?(:method_cooperation) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :method_cooperation, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :method_cooperation, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:method_cooperation) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @supplier_account.errors.include?(:account_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :account_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :account_id, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:account_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:supplier_accounts, :index), :class => 'btn btn-default' %>
</div>