<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>订单详情</title>

	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<%=stylesheet_link_tag "demo"%>
</head>
<body>
	<h3><%=@account.real_name%></h3>
	<div>
		<ul class="nav nav-tabs">
		  <li role="presentation"><a href="home?id=<%=@account._id%>">订单</a></li>
		  <li role="presentation"><a href="product?id=<%=@account._id%>">商品</a></li>
		  <li role="presentation"><a href="store?id=<%=@account._id%>">仓库</a></li>
		  <li role="presentation" class="active"><a href="#">员工</a></li>
		</ul>

		
	</div>
	<br>
	<div >
		<ul class="nav nav-pills">
		  <li role="presentation" class="active"><a href="page_main_employee_list.html"><span>列表 </span></a></li>
		  <li role="presentation"><a href="page_main_employee_add.html"><span>添加 </span></a></li>
		</ul>
	</div>
	<br>
	<div style="background-color: #f5f5f5;border:1px  solid  #333333;">
	</div>
</body>
</html>