<% content_for :head do %>
<%= javascript_include_tag "jquery-1.8.2.min" %>
<%= javascript_include_tag "ajaxfileupload" %>
<script type="text/javascript">
  $(function(){
    
    $(".nav-tabs li").removeClass("active");
    $(".nav-tabs li :eq(1)").attr("class","active");

    $("#submit").click(function(){
    
    	data=$("#my_form").serialize();
    	data=decodeURIComponent(data,true);
    	alert(data);
    	var arr=["url1","url2","url3"];
        $.ajaxFileUpload
                 (
                    {
                    	type: "post",
                         url:'/mobile_admin/product_upload/create_product', //上传文件的服务端
                         secureuri:false,  //是否启用安全提交
                         dataType: 'json',   //数据类型  
                         fileElementId: arr, //表示文件域ID
                         data:data,
                         //提交成功后处理函数      html为返回值，status为执行的状态
                         success: function(obj,status)  
                         {
                         	
                         	alert(obj);

                         },

                         //提交失败处理函数
                         error: function (obj,status,e)
                         {
                             alert(status);
                             alert(e);
                         }
                  }
              )
    })
  })
</script>
<% end %>
	<div >
		<ul class="nav nav-pills">
		  <li role="presentation"><a href="product?id=<%=@account._id%>"><span>列表 </span></a></li>
		  <li role="presentation" class="active"><a href="#"><span>上传 </span></a></li>
		  <li role="presentation"><a href="product_tag?id=<%=@account._id%>"><span>标签 </span></a></li>
		</ul>
	</div>
	<br>
	<div style="background-color: #f5f5f5;border:1px  solid  #333333;height:1200px;">
		<h3 style="font-weight:bold;">选择图片等级</h3>
		<form id="my_form">
				<input type="hidden" value="<%=@account._id%>" name="user_id"/>
			  <div class="form-group">
			    <label class="radio-inline">
			      <input type="radio"  value="option1" ><h4>A级图片组</h4>
			      <p>至少<span style="color: red;">3张优质商品图片</span></p><p>在前列位置展示</p><p>展示频率最高约为B级的3倍</p>
			      <input type="hidden" name="url_sum" value="3"/>
			      <input type="file" name="url1" id="url1"/>
			      <input type="file" name="url2" id="url2"/>
			      <input type="file" name="url3" id="url3"/>
			    </label>
		
		<hr style="width:980px;height:1px;border:none;border-top:1px solid #555555;" />
		<h3 style="font-weight:bold;">基本资料</h3>
		<div>
		
			    <div>
				    <label for="username">商品名称</label>
	        		<input type="text" name="ck_name" />
	        		<label for="username">商品编码</label>
	        		<input type="text" name="number" />
        		</div>
        		<br>
        		<div>
				    <label></label>
				    <input type="text" style="width:240px;height:80px;"  placeholder="在这里输入商品说明..." name="ck_des" />
				    
				    <input type="reset" value="重置"  />
			    </div>
			    <br />
			    <div>
			    	<label>规格：</label>
			    	<input type="text" name="ck_spec"/>
			    	<label>库存：</label>
			    	<input type="text" name="ck_storage"/>
			    	<label>价格：</label>
			    	<input type="test" name="ck_price"/>
			    </div>
			       <div class="form-group">
				      	<p>此商品将对客户提供以下票据<span>（至少提供一种票据）</span></p>
					    <label class="radio-inline">
					      <input type="radio"  value="vat" name="bill"　>增值税发票
					    </label>
					    <label class="radio-inline">
					      <input type="radio"  value="common" name="bill">普通发票
					    </label>
					    <label class="radio-inline">
					      <input type="radio"  value="receipt" name="bill" checked="checked">收据
					    </label>
					    <p style="color: red;width: 560px;font-size:11px;">速达易只提供商品配送服务，并不涉及客户与店家之间交易关系。赋税责任由店家自行承担；票据抬头必须为客户或收件地址而并非速达易。</p>
				    </div>
				    <br />
				    <div>
				    	<p>是否支持买一携三</p>
				    	 <label class="radio-inline">
					      <input type="radio"  value="true" name="is_bring_three" />是
					    </label>
					     <label class="radio-inline">
					      <input type="radio"  value="false" name="is_bring_three" checked="true" />否
					    </label>
				    </div>
					<div>
					    <label><h3 style="font-weight:bold;width:180px;">分类及标签:</h3></label>
					    <select style="width:200px;">
					      <option value="看书">女装</option>
					      <option value="旅游">男装</option>
					    </select>
					</div>
					<div align="center">
						<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
						<button class="btn btn-primary" type="button">取消</button>
							<div class="modal" id="mymodal">
							    <div class="modal-dialog">
							        <div class="modal-content">
							            <div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
											
										</div>
										<div class="modal-body">
											<p>确认要放弃之前的编辑?</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">确认</button>
											<button type="button" class="btn btn-primary">返回继续</button>
										</div>
									</div><!-- /.modal-content -->
								</div><!-- /.modal-dialog -->
							</div><!-- /.modal -->
						
						

						<input type="button" class="btn btn-primary" id="submit" value="确定">
					</div>
			</form> 
		</div>
		<div>
			
		</div>
	</div>
