<% content_for :head do %>
<%= javascript_include_tag "jquery-1.8.2.min" %>
<script type="text/javascript">
  $(function(){
    
    $(".nav-tabs li").removeClass("active");
    $(".nav-tabs li :eq(1)").attr("class","active");
  })
</script>
<% end %>

    
	<div >
		<ul class="nav nav-pills">
		  <li role="presentation" class="active"><a href="#"><span>列表 </span></a></li>
		  <li role="presentation"><a href="product_upload?id=<%=@account._id%>"><span>上传 </span></a></li>
		  <li role="presentation"><a href="product_tag?id=<%=@account._id%>"><span>标签 </span></a></li>
		</ul>
	</div>
	<br>
	<div style="background-color: #f5f5f5;border:1px  solid  #333333;">
  	<table class="table">
     <thead>
       <tr>
         <th>勾选</th>
         <th>上架</th>
         <th>货号</th>
         <th>等级</th>
         <th>商品</th>
         <th>规格</th>
         <th>零售价</th>
         <th>评价</th>
         <th>当前状态</th>
         <th>自动下架时间</th>
      </tr>
     </thead>
     <tbody>
     <%@products.each do |product|%>
       <tr>
         <td><form action="save.rb" method="post" ><input type="checkbox" value="2"  name="" /></form></td>
         <td><%=product.created_at.strftime("%Y%m%d%H%M")%></td>
         <td><%=product.number%></td>
         <td><%=product.level%>级</td>
         <td><%=product.name%></td>
         <td>
         <%product.product_details.each do |product_detail|%>
            <%=product_detail.specification%>,
          <%end%>
         </td>
         <td><%product.product_details.each do |product_detail|%>
            ￥<%=product_detail.price%>
          <%end%></td>
         <td>97%好评</td>
         <td>
          <form action="save.php" method="post" >
            <label></label>
            <select>
              <option value="上架中">上架中</option>
              <%if !product.is_up_shelve%>
              <option value="已下架" selected="selected">已下架</option>
              <%else%>
                  <option value="已下架" >已下架</option>
              <%end%>
            </select>
          </form>
         </td>
         <td><%=product.down_shelve_time.strftime("%Y%m%d%H%M")%></td>
       </tr>
     <%end%>
     </tbody>
    </table>
	</div>
