<% error = @order_setting.errors.include?(:courier_account_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :courier_account_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :courier_account_id, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'><%= error ? f.error_message_on(:courier_account_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @order_setting.errors.include?(:store_time) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :store_time, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :store_time, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:store_time) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @order_setting.errors.include?(:order_interval) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :order_interval, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :order_interval, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:order_interval) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @order_setting.errors.include?(:store_vali_time) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :store_vali_time, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :store_vali_time, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:store_vali_time) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @order_setting.errors.include?(:customer_vali_time) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :customer_vali_time, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :customer_vali_time, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:customer_vali_time) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @order_setting.errors.include?(:complete_after) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :complete_after, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :complete_after, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:complete_after) : "Ex: a simple text" %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:order_settings, :index), :class => 'btn btn-default' %>
</div>