<% error = @firm_info.errors.include?(:address_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :address_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :address_id, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'><%= error ? f.error_message_on(:address_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @firm_info.errors.include?(:state_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :state_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :state_id, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:state_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @firm_info.errors.include?(:firm_type_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :firm_type_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :firm_type_id, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:firm_type_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @firm_info.errors.include?(:supplier_account_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :supplier_account_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :supplier_account_id, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:supplier_account_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @firm_info.errors.include?(:firm_name) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :firm_name, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :firm_name, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:firm_name) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @firm_info.errors.include?(:legal_person) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :legal_person, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :legal_person, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:legal_person) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @firm_info.errors.include?(:business_license_number) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :business_license_number, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :business_license_number, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:business_license_number) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @firm_info.errors.include?(:org_code) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :org_code, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :org_code, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:org_code) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @firm_info.errors.include?(:url) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :url, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :url, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:url) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @firm_info.errors.include?(:url2) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :url2, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :url2, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:url2) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @firm_info.errors.include?(:url3) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :url3, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :url3, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:url3) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @firm_info.errors.include?(:validate_person) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :validate_person, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :validate_person, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:validate_person) : "Ex: a simple text" %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:firm_infos, :index), :class => 'btn btn-default' %>
</div>