<% error = @hire_info.errors.include?(:state_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :state_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :state_id, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'><%= error ? f.error_message_on(:state_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @hire_info.errors.include?(:supplier_account_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :supplier_account_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :supplier_account_id, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:supplier_account_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @hire_info.errors.include?(:lessee_name) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :lessee_name, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :lessee_name, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:lessee_name) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @hire_info.errors.include?(:lessee_card) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :lessee_card, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :lessee_card, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:lessee_card) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @hire_info.errors.include?(:url) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :url, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :url, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:url) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @hire_info.errors.include?(:url2) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :url2, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :url2, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:url2) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @hire_info.errors.include?(:url3) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :url3, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :url3, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:url3) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @hire_info.errors.include?(:url4) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :url4, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :url4, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:url4) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @hire_info.errors.include?(:validate_person) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :validate_person, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :validate_person, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:validate_person) : "Ex: a simple text" %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:hire_infos, :index), :class => 'btn btn-default' %>
</div>