<% error = @store_employee.errors.include?(:supplier_account_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :supplier_account_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.select(:supplier_account_id, :collection=>SupplierAccount.where(level:1),:fields=>[:mobile,:id],:class => 'form-control input-xlarge input-with-feedback', :autofocus => true) %>
    <span class='help-inline'><%= error ? f.error_message_on(:supplier_account_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @store_employee.errors.include?(:store_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :store_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.select(:store_id, :collection=>Store.all,:fields=>[:name,:id],:class => 'form-control input-xlarge input-with-feedback' )%>
    <span class='help-inline'><%= error ? f.error_message_on(:store_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @store_employee.errors.include?(:is_work) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :is_work, :class => 'control-label' %>
  <div class='controls'>
    <%= f.check_box :is_work, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:is_work) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @store_employee.errors.include?(:my_account) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :my_account, :class => 'control-label' %>
  <div class='controls'>
    <%= f.select(:my_account,:collection=>SupplierAccount.where(:level.gt=>1),:fields=>[:mobile,:id] ,:class => 'form-control input-xlarge input-with-feedback') %>
    <span class='help-inline'><%= error ? f.error_message_on(:my_account) : "Ex: a simple text" %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:store_employees, :index), :class => 'btn btn-default' %>
</div>